<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:url" content="https://poker.antew.dev"/>
    <meta property="og:title" content="Planning Poker"/>
    <meta property="og:description" content="Open source planning poker. https://github.com/antew/planning_poker"/>
    <meta property="og:site_name" content="Antew"/>

    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <title>Planning Poker</title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")}/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <nav>
      <div class="flex items-center justify-between flex-wrap bg-gradient-to-r from-gray-900 to-gray-800 p-6">
        <a href="/" class="font-semibold text-xl tracking-tight">Planning Poker</a>
      </div>
    </nav>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
  </body>
</html>
